{% extends "common/base.html" %}

{% block title %} アプリA {% endblock %}


<!--ヘッダー-->
<!-- ここに書くとエラーになる？ -->
{% include "common/base_header.html" %}


{% block content %}


<h1>アプリA</h1>


<a href="{{ url_for('common.main') }}">Common</a>

<!-- <a href="{{ url_for('app_a.main') }}">Common</a> -->

{% endblock %}


<!-- <!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>サブmain</title>
    </head>

    <body>
        <h>aaaaaaaaaaaaa</h>
    </body>
</html> -->